In [74]:
import pandas as pd
import yfinance as yf
import seaborn as sns

In [75]:
# data = yf.download("BBL.BK KBANK.BK SCB.BK BAY.BK TTB.BK KKP.BK TISCO.BK SAWAD.BK MTC.BK TIDLOR.BK AMNAH.BK AEONTS.BK ASK.BK CHAYO.BK JMT.BK KTC.BK MICRO.BK MTC.BK NCAP.BK S11.BK SAK.BK THANI.BK TK.BK", 
#                     start='2018-01-01', end='2021-10-14', period='1d')

data = yf.download("BBL.BK KBANK.BK BAY.BK TTB.BK KKP.BK TISCO.BK SAWAD.BK MTC.BK TIDLOR.BK AEONTS.BK ASK.BK CHAYO.BK JMT.BK KTC.BK MICRO.BK MTC.BK NCAP.BK S11.BK SAK.BK THANI.BK TK.BK", 
                    start='2018-01-01', end='2021-10-14', period='1d')

[*********************100%***********************]  20 of 20 completed

In [76]:
data['Adj Close']

,AEONTS.BK,ASK.BK,BAY.BK,BBL.BK,CHAYO.BK,JMT.BK,KBANK.BK,KKP.BK,KTC.BK,MICRO.BK,MTC.BK,NCAP.BK,S11.BK,SAK.BK,SAWAD.BK,THANI.BK,TIDLOR.BK,TISCO.BK,TK.BK,TTB.BK
Date,,,,,,,,,,,,,,,,,,,,
2018-01-03,92.578255,17.726864,35.356331,175.389221,NaN,13.175614,208.472855,56.134010,16.831442,NaN,38.350216,NaN,6.029596,NaN,51.122288,4.233280,NaN,61.536510,12.529217,2.383078
2018-01-04,92.578255,17.875828,34.693398,175.389221,NaN,13.068496,212.871033,57.019398,16.512146,NaN,39.788345,NaN,6.067282,NaN,52.648331,4.193343,NaN,62.052177,12.844418,2.383078
2018-01-05,93.025475,17.801344,40.438797,176.244751,NaN,12.425783,211.991394,57.196480,15.599873,NaN,38.829586,NaN,6.029596,NaN,51.313042,4.073534,NaN,62.739731,12.608018,2.352129
2018-01-08,93.919960,17.726864,41.543686,177.100311,NaN,12.747138,211.991394,57.727711,16.101622,NaN,38.350216,NaN,6.029596,NaN,50.550026,3.993660,NaN,64.114853,12.529217,2.336655
2018-01-09,107.337105,17.577898,40.659779,177.955856,NaN,12.640022,206.713593,57.904793,16.056009,NaN,38.350216,NaN,6.104967,NaN,48.833229,3.953724,NaN,64.458633,12.923217,2.352129
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-10-06,188.250259,34.164398,32.072990,113.392334,11.047817,45.268364,133.594864,53.133221,54.805084,7.319746,60.018604,10.2,6.522740,8.094311,61.615116,3.863973,31.790184,85.388947,8.645982,1.078286
2021-10-07,192.141724,34.164398,32.566422,116.337585,11.141443,45.765820,138.997589,53.618454,56.033897,7.665951,62.002689,10.4,6.570701,8.242378,63.064884,3.940868,32.250912,86.085052,8.693750,1.126857
2021-10-08,190.682434,34.652462,32.566422,116.337585,11.047817,45.268364,137.524124,55.316776,55.542370,7.715409,62.002689,10.3,6.474779,8.094311,62.823254,3.940868,31.790184,86.549118,8.741517,1.136571
2021-10-11,189.223129,34.652462,32.319706,116.337585,10.860567,45.268364,136.050644,54.831543,55.296608,7.616493,61.258656,10.3,6.426817,8.044955,61.615116,3.902420,32.020550,85.620979,8.693750,1.126857
2021-10-12,189.709564,34.652462,32.319706,117.810219,10.860567,44.770908,138.015274,55.316776,55.296608,7.665951,60.762634,10.1,6.714585,8.044955,62.098370,3.883196,32.481274,86.317085,8.645982,1.126857

In [77]:
df = data['Adj Close'].copy()

In [78]:
df.loc[df['CHAYO.BK'].notnull()]

,AEONTS.BK,ASK.BK,BAY.BK,BBL.BK,CHAYO.BK,JMT.BK,KBANK.BK,KKP.BK,KTC.BK,MICRO.BK,MTC.BK,NCAP.BK,S11.BK,SAK.BK,SAWAD.BK,THANI.BK,TIDLOR.BK,TISCO.BK,TK.BK,TTB.BK
Date,,,,,,,,,,,,,,,,,,,,
2018-03-22,161.452896,17.494516,37.566101,174.533661,1.638680,13.711208,193.519104,53.831978,24.722603,NaN,36.672386,NaN,5.803487,NaN,47.688702,3.555907,NaN,62.395962,11.820016,2.166435
2018-03-23,157.874985,17.336908,37.124146,172.822525,1.980073,13.925445,194.398743,53.123669,25.361195,NaN,36.432701,NaN,5.728117,NaN,46.734928,3.505823,NaN,61.880295,11.493947,2.150960
2018-03-26,162.794601,17.258102,36.903168,171.111420,2.002832,13.711208,195.278351,53.123669,26.729603,NaN,36.912075,NaN,5.652748,NaN,46.544167,3.455739,NaN,62.052177,11.575463,2.166435
2018-03-27,167.714218,17.258102,36.903168,172.822525,1.866275,14.353922,195.278351,53.123669,27.641878,NaN,36.432701,NaN,5.765802,NaN,48.070213,3.781281,NaN,62.052177,11.493947,2.135485
2018-03-28,166.819733,17.258102,36.240238,172.822525,1.843515,13.925445,187.361679,52.061192,27.915562,NaN,36.432701,NaN,5.728117,NaN,47.116440,3.856405,NaN,61.364616,11.330912,2.120010
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-10-06,188.250259,34.164398,32.072990,113.392334,11.047817,45.268364,133.594864,53.133221,54.805084,7.319746,60.018604,10.2,6.522740,8.094311,61.615116,3.863973,31.790184,85.388947,8.645982,1.078286
2021-10-07,192.141724,34.164398,32.566422,116.337585,11.141443,45.765820,138.997589,53.618454,56.033897,7.665951,62.002689,10.4,6.570701,8.242378,63.064884,3.940868,32.250912,86.085052,8.693750,1.126857
2021-10-08,190.682434,34.652462,32.566422,116.337585,11.047817,45.268364,137.524124,55.316776,55.542370,7.715409,62.002689,10.3,6.474779,8.094311,62.823254,3.940868,31.790184,86.549118,8.741517,1.136571
2021-10-11,189.223129,34.652462,32.319706,116.337585,10.860567,45.268364,136.050644,54.831543,55.296608,7.616493,61.258656,10.3,6.426817,8.044955,61.615116,3.902420,32.020550,85.620979,8.693750,1.126857
2021-10-12,189.709564,34.652462,32.319706,117.810219,10.860567,44.770908,138.015274,55.316776,55.296608,7.665951,60.762634,10.1,6.714585,8.044955,62.098370,3.883196,32.481274,86.317085,8.645982,1.126857

In [79]:
df.loc[~df.isnull().sum(1).astype(bool)].iloc[0]

AEONTS.BK    203.582214
ASK.BK        32.944241
BAY.BK        34.599052
BBL.BK       115.794579
CHAYO.BK      14.228763
JMT.BK        43.861530
KBANK.BK     122.760376
KKP.BK        54.080425
KTC.BK        71.762711
MICRO.BK       9.495888
MTC.BK        62.002689
NCAP.BK       15.500000
S11.BK         7.050314
SAK.BK        12.141466
SAWAD.BK      77.804184
THANI.BK       4.075434
TIDLOR.BK     42.156548
TISCO.BK      82.372490
TK.BK          9.840178
TTB.BK         1.126857
Name: 2021-05-10 00:00:00, dtype: float64

In [80]:
df.loc[~df.isnull().sum(1).astype(bool)]

,AEONTS.BK,ASK.BK,BAY.BK,BBL.BK,CHAYO.BK,JMT.BK,KBANK.BK,KKP.BK,KTC.BK,MICRO.BK,MTC.BK,NCAP.BK,S11.BK,SAK.BK,SAWAD.BK,THANI.BK,TIDLOR.BK,TISCO.BK,TK.BK,TTB.BK
Date,,,,,,,,,,,,,,,,,,,,
2021-05-10,203.582214,32.944241,34.599052,115.794579,14.228763,43.861530,122.760376,54.080425,71.762711,9.495888,62.002689,15.5,7.050314,12.141466,77.804184,4.075434,42.156548,82.372490,9.840178,1.126857
2021-05-11,196.860138,36.116650,32.162495,115.308052,13.854321,43.122292,122.271294,53.362545,70.042374,9.347514,59.274570,15.6,7.146237,11.944044,75.629532,4.094658,39.622547,81.444344,9.744642,1.117143
2021-05-12,194.573914,32.456177,31.675184,113.848457,13.573491,43.615116,116.891357,52.166073,69.305084,9.149683,56.050430,14.7,7.098276,11.746622,70.555344,3.998539,37.088551,80.284172,9.744642,1.107429
2021-05-13,191.655304,32.212147,30.944220,114.334984,13.386272,42.383049,119.825867,52.644665,68.567795,8.754022,57.042473,14.6,7.050314,11.845333,71.521858,3.979315,37.779640,80.284172,9.553572,1.097714
2021-05-14,186.790955,34.652462,31.187876,112.388863,13.386272,41.150986,118.358612,52.166073,69.550842,8.012156,56.546452,14.1,6.666624,11.450489,69.105583,3.863973,37.318909,80.284172,9.458035,1.088000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-10-06,188.250259,34.164398,32.072990,113.392334,11.047817,45.268364,133.594864,53.133221,54.805084,7.319746,60.018604,10.2,6.522740,8.094311,61.615116,3.863973,31.790184,85.388947,8.645982,1.078286
2021-10-07,192.141724,34.164398,32.566422,116.337585,11.141443,45.765820,138.997589,53.618454,56.033897,7.665951,62.002689,10.4,6.570701,8.242378,63.064884,3.940868,32.250912,86.085052,8.693750,1.126857
2021-10-08,190.682434,34.652462,32.566422,116.337585,11.047817,45.268364,137.524124,55.316776,55.542370,7.715409,62.002689,10.3,6.474779,8.094311,62.823254,3.940868,31.790184,86.549118,8.741517,1.136571
2021-10-11,189.223129,34.652462,32.319706,116.337585,10.860567,45.268364,136.050644,54.831543,55.296608,7.616493,61.258656,10.3,6.426817,8.044955,61.615116,3.902420,32.020550,85.620979,8.693750,1.126857
2021-10-12,189.709564,34.652462,32.319706,117.810219,10.860567,44.770908,138.015274,55.316776,55.296608,7.665951,60.762634,10.1,6.714585,8.044955,62.098370,3.883196,32.481274,86.317085,8.645982,1.126857

In [82]:
df

,AEONTS.BK,ASK.BK,BAY.BK,BBL.BK,CHAYO.BK,JMT.BK,KBANK.BK,KKP.BK,KTC.BK,MICRO.BK,MTC.BK,NCAP.BK,S11.BK,SAK.BK,SAWAD.BK,THANI.BK,TIDLOR.BK,TISCO.BK,TK.BK,TTB.BK
Date,,,,,,,,,,,,,,,,,,,,
2018-01-03,92.578255,17.726864,35.356331,175.389221,NaN,13.175614,208.472855,56.134010,16.831442,NaN,38.350216,NaN,6.029596,NaN,51.122288,4.233280,NaN,61.536510,12.529217,2.383078
2018-01-04,92.578255,17.875828,34.693398,175.389221,NaN,13.068496,212.871033,57.019398,16.512146,NaN,39.788345,NaN,6.067282,NaN,52.648331,4.193343,NaN,62.052177,12.844418,2.383078
2018-01-05,93.025475,17.801344,40.438797,176.244751,NaN,12.425783,211.991394,57.196480,15.599873,NaN,38.829586,NaN,6.029596,NaN,51.313042,4.073534,NaN,62.739731,12.608018,2.352129
2018-01-08,93.919960,17.726864,41.543686,177.100311,NaN,12.747138,211.991394,57.727711,16.101622,NaN,38.350216,NaN,6.029596,NaN,50.550026,3.993660,NaN,64.114853,12.529217,2.336655
2018-01-09,107.337105,17.577898,40.659779,177.955856,NaN,12.640022,206.713593,57.904793,16.056009,NaN,38.350216,NaN,6.104967,NaN,48.833229,3.953724,NaN,64.458633,12.923217,2.352129
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-10-06,188.250259,34.164398,32.072990,113.392334,11.047817,45.268364,133.594864,53.133221,54.805084,7.319746,60.018604,10.2,6.522740,8.094311,61.615116,3.863973,31.790184,85.388947,8.645982,1.078286
2021-10-07,192.141724,34.164398,32.566422,116.337585,11.141443,45.765820,138.997589,53.618454,56.033897,7.665951,62.002689,10.4,6.570701,8.242378,63.064884,3.940868,32.250912,86.085052,8.693750,1.126857
2021-10-08,190.682434,34.652462,32.566422,116.337585,11.047817,45.268364,137.524124,55.316776,55.542370,7.715409,62.002689,10.3,6.474779,8.094311,62.823254,3.940868,31.790184,86.549118,8.741517,1.136571
2021-10-11,189.223129,34.652462,32.319706,116.337585,10.860567,45.268364,136.050644,54.831543,55.296608,7.616493,61.258656,10.3,6.426817,8.044955,61.615116,3.902420,32.020550,85.620979,8.693750,1.126857
2021-10-12,189.709564,34.652462,32.319706,117.810219,10.860567,44.770908,138.015274,55.316776,55.296608,7.665951,60.762634,10.1,6.714585,8.044955,62.098370,3.883196,32.481274,86.317085,8.645982,1.126857

In [81]:
df.isnull()

,AEONTS.BK,ASK.BK,BAY.BK,BBL.BK,CHAYO.BK,JMT.BK,KBANK.BK,KKP.BK,KTC.BK,MICRO.BK,MTC.BK,NCAP.BK,S11.BK,SAK.BK,SAWAD.BK,THANI.BK,TIDLOR.BK,TISCO.BK,TK.BK,TTB.BK
Date,,,,,,,,,,,,,,,,,,,,
2018-01-03,False,False,False,False,True,False,False,False,False,True,False,True,False,True,False,False,True,False,False,False
2018-01-04,False,False,False,False,True,False,False,False,False,True,False,True,False,True,False,False,True,False,False,False
2018-01-05,False,False,False,False,True,False,False,False,False,True,False,True,False,True,False,False,True,False,False,False
2018-01-08,False,False,False,False,True,False,False,False,False,True,False,True,False,True,False,False,True,False,False,False
2018-01-09,False,False,False,False,True,False,False,False,False,True,False,True,False,True,False,False,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-10-06,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2021-10-07,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2021-10-08,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2021-10-11,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2021-10-12,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [83]:
~df.isnull()

,AEONTS.BK,ASK.BK,BAY.BK,BBL.BK,CHAYO.BK,JMT.BK,KBANK.BK,KKP.BK,KTC.BK,MICRO.BK,MTC.BK,NCAP.BK,S11.BK,SAK.BK,SAWAD.BK,THANI.BK,TIDLOR.BK,TISCO.BK,TK.BK,TTB.BK
Date,,,,,,,,,,,,,,,,,,,,
2018-01-03,True,True,True,True,False,True,True,True,True,False,True,False,True,False,True,True,False,True,True,True
2018-01-04,True,True,True,True,False,True,True,True,True,False,True,False,True,False,True,True,False,True,True,True
2018-01-05,True,True,True,True,False,True,True,True,True,False,True,False,True,False,True,True,False,True,True,True
2018-01-08,True,True,True,True,False,True,True,True,True,False,True,False,True,False,True,True,False,True,True,True
2018-01-09,True,True,True,True,False,True,True,True,True,False,True,False,True,False,True,True,False,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-10-06,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
2021-10-07,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
2021-10-08,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
2021-10-11,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
2021-10-12,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True

In [84]:
df.isnull().sum(1)

Date
2018-01-03    5
2018-01-04    5
2018-01-05    5
2018-01-08    5
2018-01-09    5
             ..
2021-10-06    0
2021-10-07    0
2021-10-08    0
2021-10-11    0
2021-10-12    0
Length: 920, dtype: int64

In [85]:
~df.isnull().sum(1) #bitwise

Date
2018-01-03   -6
2018-01-04   -6
2018-01-05   -6
2018-01-08   -6
2018-01-09   -6
             ..
2021-10-06   -1
2021-10-07   -1
2021-10-08   -1
2021-10-11   -1
2021-10-12   -1
Length: 920, dtype: int64

In [88]:
df.isnull().sum(axis=0).astype(bool)

AEONTS.BK    False
ASK.BK       False
BAY.BK       False
BBL.BK       False
CHAYO.BK      True
JMT.BK       False
KBANK.BK     False
KKP.BK       False
KTC.BK       False
MICRO.BK      True
MTC.BK       False
NCAP.BK       True
S11.BK       False
SAK.BK        True
SAWAD.BK     False
THANI.BK     False
TIDLOR.BK     True
TISCO.BK     False
TK.BK        False
TTB.BK       False
dtype: bool

In [86]:
~df.isnull().sum(axis=1).astype(bool).tail(20)

Date
2021-09-14    True
2021-09-15    True
2021-09-16    True
2021-09-17    True
2021-09-20    True
2021-09-21    True
2021-09-22    True
2021-09-23    True
2021-09-27    True
2021-09-28    True
2021-09-29    True
2021-09-30    True
2021-10-01    True
2021-10-04    True
2021-10-05    True
2021-10-06    True
2021-10-07    True
2021-10-08    True
2021-10-11    True
2021-10-12    True
dtype: bool

In [92]:
df.stack()

Date
2018-01-03  AEONTS.BK     92.578255
            ASK.BK        17.726864
            BAY.BK        35.356331
            BBL.BK       175.389221
            JMT.BK        13.175614
                            ...
2021-10-12  THANI.BK       3.883196
            TIDLOR.BK     32.481274
            TISCO.BK      86.317085
            TK.BK          8.645982
            TTB.BK         1.126857
Length: 15445, dtype: float64

In [94]:
df.stack().reset_index()

            Date    level_1           0
0     2018-01-03  AEONTS.BK   92.578255
1     2018-01-03     ASK.BK   17.726864
2     2018-01-03     BAY.BK   35.356331
3     2018-01-03     BBL.BK  175.389221
4     2018-01-03     JMT.BK   13.175614
...          ...        ...         ...
15440 2021-10-12   THANI.BK    3.883196
15441 2021-10-12  TIDLOR.BK   32.481274
15442 2021-10-12   TISCO.BK   86.317085
15443 2021-10-12      TK.BK    8.645982
15444 2021-10-12     TTB.BK    1.126857

[15445 rows x 3 columns]

In [93]:
df.stack().groupby(level=0).head(1)

Date
2018-01-03  AEONTS.BK     92.578255
2018-01-04  AEONTS.BK     92.578255
2018-01-05  AEONTS.BK     93.025475
2018-01-08  AEONTS.BK     93.919960
2018-01-09  AEONTS.BK    107.337105
                            ...
2021-10-06  AEONTS.BK    188.250259
2021-10-07  AEONTS.BK    192.141724
2021-10-08  AEONTS.BK    190.682434
2021-10-11  AEONTS.BK    189.223129
2021-10-12  AEONTS.BK    189.709564
Length: 920, dtype: float64

In [91]:
df.stack().groupby(level=1).head(1)

Date
2018-01-03  AEONTS.BK     92.578255
            ASK.BK        17.726864
            BAY.BK        35.356331
            BBL.BK       175.389221
            JMT.BK        13.175614
            KBANK.BK     208.472855
            KKP.BK        56.134010
            KTC.BK        16.831442
            MTC.BK        38.350216
            S11.BK         6.029596
            SAWAD.BK      51.122288
            THANI.BK       4.233280
            TISCO.BK      61.536510
            TK.BK         12.529217
            TTB.BK         2.383078
2018-03-22  CHAYO.BK       1.638680
2020-10-01  MICRO.BK       5.326630
2020-11-09  NCAP.BK        3.060000
2020-12-08  SAK.BK         8.019594
2021-05-10  TIDLOR.BK     42.156548
dtype: float64