In [18]:
import pandas as pd
import numpy as np

In [19]:
data = pd.read_csv('../Example Data/workshopdata-labeling.csv')

In [20]:
data

,Date,Market,Symbol,Market Cap,PE,PEG,PBV,BVPS,Dividend Yield,12M Dividend Yield,Volume Turnover
0,21/10/2021,SET,7UP,"8,177,441,790",39.35,0.58,3.16,0.50,NaN,NaN,0.71
1,21/10/2021,SET,AH,"7,629,103,258",6.88,-0.03,0.93,23.23,0.63,2.82,0.96
2,21/10/2021,SET,AI,"5,564,992,217",9.18,1.50,2.14,3.71,7.55,11.07,0.10
3,21/10/2021,SET,AIT,"8,252,835,880",15.22,0.24,2.82,14.18,3.75,4.88,1.54
4,21/10/2021,SET,AJ,"8,536,000,000",14.44,0.32,1.78,10.87,3.47,4.12,0.35
...,...,...,...,...,...,...,...,...,...,...,...
219,21/10/2021,SET,TTB,"109,183,848,275",13.36,-0.52,0.53,2.13,3.97,3.97,0.17
220,21/10/2021,SET,TU,"99,253,762,317",12.64,0.26,1.71,12.14,3.46,4.09,0.46
221,21/10/2021,SET,TVO,"25,269,093,281",10.40,0.20,2.50,12.49,5.44,6.72,0.28
222,21/10/2021,SET,VGI,"54,680,902,246",49.99,6.53,3.44,1.85,0.96,0.96,0.46
223,21/10/2021,SET,WHA,"49,922,427,828",21.92,-3.93,1.74,1.92,3.00,3.00,0.57

In [21]:
df = data.copy()

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 224 entries, 0 to 223
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Date                224 non-null    object
 1   Market              224 non-null    object
 2   Symbol              224 non-null    object
 3   Market Cap          224 non-null    object
 4   PE                  193 non-null    float64
 5   PEG                 185 non-null    float64
 6   PBV                 224 non-null    float64
 7   BVPS                224 non-null    float64
 8   Dividend Yield      179 non-null    float64
 9   12M Dividend Yield  180 non-null    float64
 10  Volume Turnover     223 non-null    float64
dtypes: float64(7), object(4)
memory usage: 19.4+ KB

In [24]:
df['Market Cap'] = df['Market Cap'].str.replace(',', '').astype(float)

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 224 entries, 0 to 223
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Date                224 non-null    object
 1   Market              224 non-null    object
 2   Symbol              224 non-null    object
 3   Market Cap          224 non-null    float64
 4   PE                  193 non-null    float64
 5   PEG                 185 non-null    float64
 6   PBV                 224 non-null    float64
 7   BVPS                224 non-null    float64
 8   Dividend Yield      179 non-null    float64
 9   12M Dividend Yield  180 non-null    float64
 10  Volume Turnover     223 non-null    float64
dtypes: float64(8), object(3)
memory usage: 19.4+ KB

In [30]:
#Market Cap

df['Label'] = df['Market Cap'].apply(lambda x: 
                3 if x > 1e10 else (
                2 if 2e9 < x < 1e10 else (
                1 if 3e8 < x <2e9 else 0)))

In [31]:
df

,Date,Market,Symbol,Market Cap,PE,PEG,PBV,BVPS,Dividend Yield,12M Dividend Yield,Volume Turnover,Label
0,21/10/2021,SET,7UP,8.177442e+09,39.35,0.58,3.16,0.50,NaN,NaN,0.71,2
1,21/10/2021,SET,AH,7.629103e+09,6.88,-0.03,0.93,23.23,0.63,2.82,0.96,2
2,21/10/2021,SET,AI,5.564992e+09,9.18,1.50,2.14,3.71,7.55,11.07,0.10,2
3,21/10/2021,SET,AIT,8.252836e+09,15.22,0.24,2.82,14.18,3.75,4.88,1.54,2
4,21/10/2021,SET,AJ,8.536000e+09,14.44,0.32,1.78,10.87,3.47,4.12,0.35,2
...,...,...,...,...,...,...,...,...,...,...,...,...
219,21/10/2021,SET,TTB,1.091838e+11,13.36,-0.52,0.53,2.13,3.97,3.97,0.17,3
220,21/10/2021,SET,TU,9.925376e+10,12.64,0.26,1.71,12.14,3.46,4.09,0.46,3
221,21/10/2021,SET,TVO,2.526909e+10,10.40,0.20,2.50,12.49,5.44,6.72,0.28,3
222,21/10/2021,SET,VGI,5.468090e+10,49.99,6.53,3.44,1.85,0.96,0.96,0.46,3
223,21/10/2021,SET,WHA,4.992243e+10,21.92,-3.93,1.74,1.92,3.00,3.00,0.57,3

In [32]:
# PE Range

df['PE Range'] = df['PE'].apply(lambda x: 
                'PE<10' if x < 10 else(
                'PE 10-20' if 10< x <20 else(
                'PE 20-50' if 20 < x < 50 else(
                'PE>50' if x > 50 else 'None PE'))))

In [33]:
df

,Date,Market,Symbol,Market Cap,PE,PEG,PBV,BVPS,Dividend Yield,12M Dividend Yield,Volume Turnover,Label,PE Range
0,21/10/2021,SET,7UP,8.177442e+09,39.35,0.58,3.16,0.50,NaN,NaN,0.71,2,PE 20-50
1,21/10/2021,SET,AH,7.629103e+09,6.88,-0.03,0.93,23.23,0.63,2.82,0.96,2,PE<10
2,21/10/2021,SET,AI,5.564992e+09,9.18,1.50,2.14,3.71,7.55,11.07,0.10,2,PE<10
3,21/10/2021,SET,AIT,8.252836e+09,15.22,0.24,2.82,14.18,3.75,4.88,1.54,2,PE 10-20
4,21/10/2021,SET,AJ,8.536000e+09,14.44,0.32,1.78,10.87,3.47,4.12,0.35,2,PE 10-20
...,...,...,...,...,...,...,...,...,...,...,...,...,...
219,21/10/2021,SET,TTB,1.091838e+11,13.36,-0.52,0.53,2.13,3.97,3.97,0.17,3,PE 10-20
220,21/10/2021,SET,TU,9.925376e+10,12.64,0.26,1.71,12.14,3.46,4.09,0.46,3,PE 10-20
221,21/10/2021,SET,TVO,2.526909e+10,10.40,0.20,2.50,12.49,5.44,6.72,0.28,3,PE 10-20
222,21/10/2021,SET,VGI,5.468090e+10,49.99,6.53,3.44,1.85,0.96,0.96,0.46,3,PE 20-50
223,21/10/2021,SET,WHA,4.992243e+10,21.92,-3.93,1.74,1.92,3.00,3.00,0.57,3,PE 20-50

In [35]:
# Dividend or Not

df['Dividend'] = ~df['Dividend Yield'].isnull()

In [36]:
df

,Date,Market,Symbol,Market Cap,PE,PEG,PBV,BVPS,Dividend Yield,12M Dividend Yield,Volume Turnover,Label,PE Range,Dividend
0,21/10/2021,SET,7UP,8.177442e+09,39.35,0.58,3.16,0.50,NaN,NaN,0.71,2,PE 20-50,False
1,21/10/2021,SET,AH,7.629103e+09,6.88,-0.03,0.93,23.23,0.63,2.82,0.96,2,PE<10,True
2,21/10/2021,SET,AI,5.564992e+09,9.18,1.50,2.14,3.71,7.55,11.07,0.10,2,PE<10,True
3,21/10/2021,SET,AIT,8.252836e+09,15.22,0.24,2.82,14.18,3.75,4.88,1.54,2,PE 10-20,True
4,21/10/2021,SET,AJ,8.536000e+09,14.44,0.32,1.78,10.87,3.47,4.12,0.35,2,PE 10-20,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
219,21/10/2021,SET,TTB,1.091838e+11,13.36,-0.52,0.53,2.13,3.97,3.97,0.17,3,PE 10-20,True
220,21/10/2021,SET,TU,9.925376e+10,12.64,0.26,1.71,12.14,3.46,4.09,0.46,3,PE 10-20,True
221,21/10/2021,SET,TVO,2.526909e+10,10.40,0.20,2.50,12.49,5.44,6.72,0.28,3,PE 10-20,True
222,21/10/2021,SET,VGI,5.468090e+10,49.99,6.53,3.44,1.85,0.96,0.96,0.46,3,PE 20-50,True
223,21/10/2021,SET,WHA,4.992243e+10,21.92,-3.93,1.74,1.92,3.00,3.00,0.57,3,PE 20-50,True